{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "60"
                }
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        }
    }
}